<!-- <app-accueil></app-accueil> -->
<!-- <div class="d-flex justify-content-center"><h1 class="display-2 w-100 mx-auto text-danger ">Error 404 Component</h1></div>
<img src="../../assets/sad.png" class="w-25" alt="">
<button>back</button>
<div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight justify-content-center"></div>
        <div class="p-2 bd-highlight"><img src="../../assets/sad.png" class="w-25" alt=""></div>
        <div class="p-2 bd-highlight">Flex item 3</div>
      </div>-->
      <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-12 text-center">
                    <h1 class="display-1 w-100 text-danger ">Oops !</h1>
                    <h1 class="display-4 w-100 text-primary ">404 - Page not found !</h1>
                </div>
                <div class="col-12 text-center">
                    <img src="../../assets/sad.png" class="w-50" alt="">
                    <div class="mt-2 mb-2 text-light" style="font-size: 25px">The page you are looking for might have been removed.</div>
                    <button class="btn btn-danger w-25" style="border-radius: 30px" outerLinkActive="active" [routerLink]="['/login']">Back to login</button>
                </div>
            </div>  
          </div>