/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(37, 37, 37);
    /* background-image: url("./assets/pizzaBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: 'Lato', sans-serif;
}